@import 'variables.css';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Share+Tech&display=swap');
html, body {
    margin: 0;
    padding: 0;
}
html{
  background-image: linear-gradient(to bottom, var(--html-to) var(--html-to-gradient), var(--html-bottom) var(--html-bottom-gradient));
  color: var(--text-color);
  min-height: 100vh;
}
body > *{
    font-family: "Share Tech", sans-serif;
}
header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-image: var(--header-image);
    height: 200px;
    margin-bottom: 0;
    width: 100vw;
}
header > h1 {
    color: var(--text-color);
    font-size: 4em;
}
.header-separator{
    margin: 0;
    width: 100vw;
    color: var(--line-color);
    /*position: sticky;*/
}
#body-separator{
    color: var(--line-color);
}
nav {
    margin-top: -1.5em;
    border: 1px solid transparent;
    position: sticky;
    z-index: 1000;
    top: 0;
}
#nav-list{
    display: flex;
    /*justify-content:;*/
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 0.7em;
    /* margin: ; */
    & li a {
        font-size: 20px;
        color: var(--text-color);
        border: 1px solid var(--button-border);
        text-decoration: none;
        background-image: var(--button-color);
        border-radius: 15px;
        background-origin: border-box;
        padding: 0.8rem 3rem;
    }
    & li a:active{
        box-shadow: inset 3px 3px 10px black;
    }
    & li a:hover{
        background-color:var(--hover);
        color: var(--hover-color);
        background-image: none;
    }
    & li a:visited{
        color: var(--visited-color);
    }
    
}
h2 {
    font-size: 250%;
}
main{
    display: grid;
    grid-template-columns: 1fr 0px 2fr;

}
#about {
    line-height: 20px;
    padding: 15px 20px;
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    align-items: center;
}
#about-info {
    display: flex;
    flex-flow: column;
    line-height: 2rem;
    text-align: center;
    gap: 35px;
    padding: 5px;
}
#about-info :first-child {
    margin-top: 25%;
}
#projects, .project-cards, section {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#projects {
    padding: 0 0;    
    min-height: auto;   
}
#parent-cards {
    display: grid;
    justify-content: center;
    align-content:center;
    grid-template-columns: repeat(auto-fill, minmax(450px, 600px));
    width: 90%;
    padding-top: 0;
    gap: 2em;
    height: 100%;
}

.project-links{
    color: var(--text-color);
    text-decoration: none;
    font-family: "EB Garamond", serif;
    border-radius: 10px;
    background: var(--card-color);
    box-shadow: 5px 5px 10px black;
    /* -3px -3px 10px rgba(255, 255, 255); */
    /*max-width: 450px;*/
    height: 500px;
    border: 1px solid white;
    text-align: center;
    transition: transform 0.2s ease;
}
.project-links:hover{
    transform: translateY(-10px); 
    background-image: none;
    background-color: var(--card-hover);
    color: black;
}
section{
    height: 500px;
}
section > h3 {
    font-size: 150%;
}
.project-desc {
    /*margin;*/
    border: 1px solid transparent;
    width: 90%;
    text-align: center;
}
section > img {
    border: 2px solid rgb(0 0 0 / 0.4);
    border-radius: 10px;
    margin-top: 10px;
}
section img + p{
    margin-top: auto;
    margin-bottom: 10px;
}
#card-dialog {
    background-color: var(--card-color);
    border: 1px solid white;
    &, & > * {
        border-radius: 15px;
    }
}
#dialog-header{
    --button-width: 30px;
    display: flex;
    /*column-gap: 20px;*/
    /*grid-template-columns:  var(--button-width) auto;*/
    align-items: center;
    margin-bottom: 10px;
}
#dialog-close {
    width: var(--button-width);
    height: 20px;
    justify-self: start;
    margin-right: 10px;
}
#github-link , #github-link button{
    margin: auto;
    width: 100%
}
.transparent-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
footer {
    margin-left: 20px;
}
#theme-button {
    background-image: var(--button-color);
    color: var(--text-color);
    position: absolute;
    left: 30px;
    top: 10px;
    z-index: 999;
    width: 100px;
    height: 30px;
    border: 1px solid var(--button-border);
    background-origin: border-box;
    border-radius: 15px;
    &:hover {
        background-color: var(--hover);
        background-image: none;
    }
}
#scroll-button{
    position: sticky;
    bottom: 1em;
    margin-left: auto;
    right: 1em;
    width: 8em;
    height: 5em;
    background-image: var(--button-color);
    color: var(--text-color);
    border-radius: 15px;
    font-size: 1.2em;
}
@media (max-width: 750px){
    main{
        display: block;
    }
    nav > ul {
        justify-content: center;
        margin-left: -40px;
    }
    #about{
        display: flex;
        line-height: 10px;
    }
    #about-info {
        text-align: left;
        display: inline;
        flex-flow: row;
        line-height: 1rem;
        overflow-wrap: break-word;
    }
    #about-info :first-child {
        margin: 10px 0;
    }
}
